.overlayFormWrapper {
    z-index: 1000;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    height: 100%;
    position: relative;
    pointer-events: none;
}


.loginForm {
    width: 50%;
    z-index: 5000;
    pointer-events: auto;
}

.ui.form.noAsterisk .required.field > label:after {
    display: none !important;
}